@font-face {
  font-family: "Branch";
  src: url(../public/fonts/Branch.ttf);
}

@font-face {
  font-family: "Monteya";
  src: url(../public/fonts/Monteya.ttf);
}

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home */

.wrapper {
  height: 100%;
}

.content {
  padding: 10%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.monteya-font {
  font-family: 'Monteya', Courier, monospace;
}

.branch-font {
  font-family: 'Branch', Courier, monospace;
}

.name-heading {
  font-size: 48px;
}

.short-bio {
  font-size: 28px;
}

@media only screen and (max-width: 767px) {
  
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
