@font-face {
  font-family: "Branch";
  src: url(../public/fonts/Branch.ttf);
}

@font-face {
  font-family: "Monteya";
  src: url(../public/fonts/Monteya.ttf);
}

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
	background: linear-gradient(#f5f7fa, #c3cfe2);
	/* background-size: 400% 400%;
	animation: gradient 8s ease infinite; */
	height: 100vh;
}

/* Home */

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.monteya-font {
  font-family: 'Monteya', Courier, monospace;
}

.branch-font {
  font-family: 'Branch', Courier, monospace;
}

.name-heading {
  font-size: 48px;
  color: #2f3640;
}

.short-bio {
  font-size: 28px;
  color: #2f3640;
}

.show {
  font-size: 18px;
  animation: reveal 1.5s;
}

.active {
  border: 2px solid #27ae60;
  border-radius: 10px;
  color: #fff;
  background: #0e6b59;
  font-family: "Branch";
  font-weight: 700;
}

.bio-buttons {
  border: none;
  background: rgba(39, 174, 96, 1);
  border-radius: 10px;
  font-family: "Branch";
  font-weight: 700;
  box-shadow: 0 0 0 0 rgba(39, 174, 96, 1);
  transform: scale(1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(39, 174, 96, 0.702);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(39, 174, 96, 0);;
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(39, 174, 96, 0);
  }
}

.bio-button {
  box-shadow: 0 0 0 0 #33d9b2;
  background: #33d9b2;
  transform: scale(1);
  color: black;
  font-family: "Branch";
  font-weight: 700;
  animation: pulse-green 2s infinite;
}

.bio-buttons:hover {
  background: #0e6b59;
  color: #fff;
}

/* Navbar */
.links {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #2f3640;
  transition: 0.1s ease-out;
}

.links:hover {
  color: #27ae60;
  font-size: 15px;
}

.green {
  color: rgb(39, 174, 96);
}

.arrow:before {
  font-size: 1rem;
  content: "➡";
}

footer {
  font-size: 12px;
}

/*==== Animations ==== */
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media only screen and (max-width: 767px) {
  
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
