@font-face {
  font-family: "Branch";
  src: url(../public/fonts/Branch.ttf);
}

@font-face {
  font-family: "Monteya";
  src: url(../public/fonts/Monteya.ttf);
}

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home */

.wrapper {
  height: 100%;
}

.content {
  padding: 10%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.monteya-font {
  font-family: 'Monteya', Courier, monospace;
}

.branch-font {
  font-family: 'Branch', Courier, monospace;
}

.name-heading {
  font-size: 48px;
  color: #2f3640;
}

.short-bio {
  font-size: 28px;
  color: #2f3640;
}

.gray {
  background: #718093;
}

/* Navbar */
.links {
  text-decoration: none;
  color: #2f3640;
  transition: color 0.5s ease-out 100ms;
}

.links:hover {
  color: #e84118;

}
.anim_gradient {
  background: linear-gradient(90deg, #00DBDE 0%,  #FC00FF  100%);
          background-size : "400% 400%";
          animation : "gradient 25s ease infinite";
      }
        
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  };

@media only screen and (max-width: 767px) {
  
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
